<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev{thon} 3.0 Navigation</title>
    <link rel="stylesheet" href="../css/components.css">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="../index.html" class="logo">Dev{thon} 3.0</a>
            <ul class="nav-links">
                <li><a href="../pages/about.html">About</a></li>
                <li><a href="../pages/registration.html">Register</a></li>
                <li><a href="../pages/partners.html">Partners</a></li>
            </ul>
        </div>
    </nav>
</body>
</html>